<br>

<div class="viewpostbox">
	{{#if notFound}}
		<h1>404 Not Found</h1>
	{{else}}
	<h2><b><u>{{currentPost.title}}</u></b></h2>
	<p class="datecreatedpar">Date Created: {{formatDate currentPost.createdAt}}</p>
	<img src="/{{currentPost.image}}">
	<h4 class="tab">{{currentPost.description}}</h4>
	<p>{{currentPost.username}}</p>
</div>

<br>

<div class="viewpostbox">
	{{#if isLoggedIn}}
	<div>
		<input type="text" name="comment" id="comment"></input>
		<input type="submit" name="commit" id="commit" data-postid="{{currentPost.id}}">
	</div>
	{{/if}}

	<div id="comments">
	{{#each currentPost.comments}}
		<div>
			<p class="comment-username">@{{this.username}}</p>
			<p class="comment-postdate">{{formatDate this.createdAt}}</p>
			<p class="comment-texttext">{{this.text}}</p>
		</div>
	{{/each}}
	</div>
	{{/if}}
</div>

<script defer type="text/javascript" src="/public/js/comments.js"></script>